services:
  # Chrome/Selenium service
  selenium:
    image: selenium/standalone-chrome:latest
    ports:
      - "4444:4444"  # Selenium Grid port
    environment:
      - SE_NODE_MAX_SESSIONS=2
      - SE_NODE_OVERRIDE_MAX_SESSIONS=true
    shm_size: 2gb
    
  # Your Flask application
  web:
    build: .
    command: python app.py
    volumes:
      - .:/app
    ports:
      - "5000:5000"
    environment:
      - FLASK_ENV=development
      - DATABASE_URL=postgresql+psycopg2://neondb_owner:npg_hxvDk98lijGB@ep-holy-snow-abn1w9fg-pooler.eu-west-2.aws.neon.tech/neondb?sslmode=require&channel_binding=require
      - PYTHONUNBUFFERED=1
      - SELENIUM_HOST=selenium
      - SELENIUM_PORT=4444
    depends_on:
      - selenium